/* колір основного тексту #757575 */
/* колір заголовків #212121 */
/* акцент #2196F3 */
/* колір ховера по кнопці "замовити послугу" #188CE8 */
/* колір контактів у хедері */
/* колір контактів у футеріrgba(255, 255, 255, 0.6); */
/* білий #FFFFFF */
/* колір основного фона #F5F5F5 */
/* вторинний цвіт фону #F5F4FA */
/* фон хедера #FFFFFF */

:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --header-contacts-color:#757575;
    --footer-contacts-color:rgba(255, 255, 255, 0.6);
    --white-color:#FFFFFF;
    --primary-background-color:#FFFFFF;
    --secondary-background-color:#F5F4FA;
    --header-background-color:#FFFFFF;
    --hero-background-color:#2F303A;
    --button-hover:#188CE8;
    --social-item-color:#AFB1B8;
    --footer-social-background:rgba(255, 255, 255, 0.1);
    --service-title-background:rgba(47, 48, 58, 0.8);
    --backdrop-color:rgba(0, 0, 0, 0.2);
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul
 {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    /* white-space: nowrap; */
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    /* clip-path: inset(50%); */
    margin: -1px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Header */

.header {
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
}

/* Logo */

.logo {
    display: block;
    margin-top: 24px;
    margin-bottom: 25px;
    
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo--accent {
    color: var(--accent-color);
}

.logo--black {
    color: black;
}

/* Main navigation */

.main-nav {
    margin-left: 91px;
}

.main-nav__list {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
}

.main-nav__item {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.main-nav__item:not(:first-child) {
    margin-left: 50px;
}

.main-nav__link {
    text-decoration: none;
    color: var(--title-text-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.main-nav__link--current {
    color: var(--accent-color);
    position: relative;
    padding-bottom: 32px;
}

.main-nav__link--current:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;

    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
}

.main-nav__link:hover,
.main-nav__link:focus {
    color: var(--accent-color);
}

/* Header contacts */

.header__contacts {
    display: flex;
    margin-left: 315px;
}

.contacts__link {
    display: flex;
    align-items: center;
    transition: color var(--transition-duration) var(--transition-timing-function);

    color: var(--header-contacts-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts__item:not(:first-child) {
    margin-left: 30px;
}

.contacts__icon {
    fill: var(--header-contacts-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.contacts__label {
    margin-left: 10px;
}

.contacts__link:hover, .contacts__link:focus {
    color: var(--accent-color);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
    fill: var(--accent-color);
}



/* Hero */

.hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 68, 58, 0.4)), url(../images/hero.jpg);
    background-color: #C4C4C4;
    background-size: cover;
    background-position: center;
    
    max-height: 600px;
    max-width: 1600px;
    text-align: center;
}

.hero__heading {
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    border: none;
    padding: 10px 32px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
    
    min-width: 216px;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero__button:hover, .hero__button:focus {
    background-color: var(--button-hover);
}


/* Features */

.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features__list {
    display: flex;
}

.features__item {
    width: calc((100%-90px)/4);
}

.features__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color);
}

.features__item:not(:first-child) {
    margin-left: 30px;
}

.features__title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Services */

.services {
    padding-bottom: 94px;
}

.services__heading {
    margin-bottom: 50px;
    text-align: center;
}

.services__list {
    display: flex;
}

.services__image {
    display: block;
}

.services__item {
    width: calc((100%-60px)/3);
    height: auto;
    position: relative;
}

.services__item:not(:first-child) {
    margin-left: 30px;
}

.services__title {
    display: block;
    padding: 27px 0;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    
    color: var(--white-color);
    background-color: var(--service-title-background);

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* Team */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-background-color);
}

.team__heading {
    text-align: center;
    margin-bottom: 50px;
}

.team__list {
    display: flex;
}

.team__card {
    width: calc((100%-90px)/4);
    border-radius: 0px 0px 4px 4px;
}

.team__card:not(:first-child) {
    margin-left: 30px;
}

.team__card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__photo {
    margin-bottom: 30px;
    display: block;
    width: 100%;
}

.team__name {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__position {
    margin-bottom: 16px;
    
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__social {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 0;
    justify-content: center;
    list-style: none;
}

.social__item:not(:first-child) {
    margin-left: 10px;
}

 .social__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
}


.social__icon {
    width: 20px;
    height: 20px;
    transition: fill var(--transition-duration) var(--transition-timing-function);
    fill: var(--social-item-color);
}

.social__item:hover, 
.social__item:focus {
    background-color: var(--accent-color);
}

.social__item:hover .social__icon, 
.social__item:focus .social__icon {
    fill: var(--white-color);
}

/* Clients */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients .section-title {
    margin-bottom: 50px;
}

.clients .list {
    display: flex;
}

.clients-item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color var(--transition-duration) var(--transition-timing-function);
    
    width: 170px;
    height: 92px;
    
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-item .icon {
    transition: fill var(--transition-duration) var(--transition-timing-function);
    fill: var(--social-item-color);
}

.clients-item:hover .icon {
    fill: var(--accent-color);
}

.clients-item:hover {
    border-color: var(--accent-color);
    cursor: pointer;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity var(--transition-duration) var(--transition-timing-function);
    
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;   
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration) var(--transition-timing-function);
    
    
    min-width: 528px;
    min-height: 581px;

    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-header {
    display: block;
    text-align: center;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.modal-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.modal-form .input, .modal-form .textarea {
    display: block;
    width: 100%;
    height: 40px;
    transition: border-color var(--transition-duration) var(--transition-timing-function);

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-form .input:hover,
.modal-form .textarea:hover, .modal-form .label:hover, .modal-form .icon:hover {
    cursor: pointer;
}

.modal-form .input {
    padding-left: 42px;
}

.modal-form .label {
    display: inline-block;
    padding: 0;
    margin-bottom: 4px;
}

.modal-form label:not(:last-child) {
    margin-bottom: 10px;
}

.modal-name, .modal-phone, .modal-email {
    position: relative;
}

.modal-form .icon {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-form .textarea {
    height: 120px;
    padding: 12px 16px;
    resize: none;
}

.modal-form .textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-form label:focus-within input, .modal-form label:focus-within textarea {
    border: 1px solid #2196F3;
    outline: transparent;
}

.modal-form label:focus-within .icon {
    fill: var(--accent-color);
}

.modal-policy {
    display: flex;
    width: 425px;
    align-items: center;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.modal-policy .checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    border: 0;
}

.icon-check {
    display: inline-block;
    padding: 0;
    margin-right: 8px;
    width: 16px;
    height: 15px;

    border: 2px solid black;
    border-radius: 2px;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.checkbox:checked + .icon-check {
    background-color: var(--accent-color);
    border: none;
}

.modal-policy a {
    color: var(--accent-color);
}

.modal-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;

    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--white-color);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.modal-submit:hover, .modal-submit:focus {
    background-color: var(--button-hover);
    outline: transparent;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white-color);
}

.close-button .icon {
    width: 11px;
    height: 11px;
}

.close-button:hover .icon {
    fill: var(--accent-color);
}

/* Footer */
    
.footer {
    background-color: var(--hero-background-color);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    
    color: var(--white-color);
    
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-logo .accent {
    color: var(--accent-color);
}

.address {
    display: inline-block;
    width: 231px;
}

.address-item {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address .item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts .link {
    transition: color var(--transition-duration) var(--transition-timing-function);
    
    color: var(--footer-contacts-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-social {
    display: block;
    height: 80px;
    padding: 0;
    margin-left: 70px;
    margin-top: 12px;
}

.footer-social h3 {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--white-color);
}

.footer-social .social-item {
    transition: background-color var(--transition-duration) var(--transition-timing-function);
    background-color: var(--footer-social-background);
    border-radius: 50%;
}

.footer-social li:not(:last-child) {
    margin-right: 10px;
}

.footer-social .list {
    display: flex;
}

.footer-social .icon {
    fill: var(--white-color);
}

.footer-social .social-item:hover, .footer-social .social-item:focus {
    background-color: var(--accent-color);
}

/* Footer form */

.footer-form {
    margin-left: 93px;
    margin-top: 12px;
}

.mail-form .form {
    display: flex;
}

.footer-form .form-header {
    display: inline-block;
    padding: 0;
    margin: 0 0 20px 0;

    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-form .mail-input {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    height: 50px;

    color: var(--footer-contacts-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
}

.footer-form .submit-button {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 28px;
    margin-left: 12px;

    width: 200px;
    height: 50px;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    transition: background-color var(--transition-duration) var(--transition-timing-function);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
}

.footer-form .submit-button:hover, .footer-form .submit-button:focus {
    background-color: var(--button-hover);
}

.submit-button .icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

/* Фільтр */

.category {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.category .item + .item{
    margin-left: 8px;
}

.category-button {
    display: inline-block;
    padding: 6px 22px;
    transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function), box-shadow var(--transition-duration) var(--transition-timing-function);
    
    border-radius: 4px;
    border: none;
    background-color: var(--secondary-background-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.category-button:hover,
.category-button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфоліо */

.section.project {
    margin-top: 94px;
    margin-bottom: 94px;
}


.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-list img {
    display: block;
    width: 100%;
    height: auto;
}

.project-description {
    padding: 20px 23px 19px 23px;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.project-category {
    display: block; 
}


.project-list .item {
    width: ((100%-60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-list .link {
    display: block;
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.project-list .link:hover, .project-list .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list .item:nth-child(3n) {
    margin-right: 0;
}

.project-list .item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.project-title {
    margin-bottom: 4px;
    
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-category {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.project-list .project-category {
    color: var(--primary-text-color)
}

.project-thumb {
    position: relative;
    overflow: hidden;
}

.project-transform {
    display: block;
    position: absolute;
    top: 100%;
    transition: transform var(--transition-duration) var(--transition-timing-function);

    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
}

.project-list .link:hover .project-transform, .project-list .link:focus .project-transform {
    transform: translateY(-100%);
}

.project-desc {
    padding: 63px 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--white-color);
}