@import "../../common/socialIcons";

.team-social {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 0;
    justify-content: center;
    list-style: none;
}

.team-social__icon {
    fill: $social-item-color;

    .team-social__item:hover &,
    .team-social__item:focus & {
        fill: $white-color;
    }
}

