@import "../../utils/vars";
@import "./team-social";

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $secondary-background-color;
}

.team__heading {
    text-align: center;
    margin-bottom: 50px;
}

.team__list {
    display: flex;
}

.team__card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 90px)/4);
    border-radius: 0px 0px 4px 4px;

    &:not(:first-child) {
        margin-left: 30px;
    }
}


.team__photo {
    margin-bottom: 30px;
    display: block;
    width: 100%;
}

.team__name {
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}